.adminContent{
    height: 100%;
    .Sider{
        background-color: #aCDeEE;
    }
  
    
    .dacontent {
        position: relative;
        
        margin: 30px 0 0 0 ;
        .Content{
            background-color: #aCDeEE;
            float: left;
            margin: 0 20px 0 20px;
        }
        .Sider{
            margin-right: 20px;
        }
    }
    .Header{
        color: white;
    }
    .Footer{
        height: 8vh;
        font-size: 20px;
        text-align: center;
        color: #bbb;
        span{
            color: rgb(24, 224, 181);
        }
    }
}