body {

  background: linear-gradient(rgba(40, 140, 234, 0.6), rgba(40, 140, 234, 0.8)), no-repeat;
  position: relative;

}

.components-form-demo-normal-login {
  .header{
      
  }
  position: absolute;
  top: 40%; 
  left: 50%; 
  transform: translate(-55%, -50%);
}

.components-form-demo-normal-login .login-form {
  max-width: 400px;
}